@import url("https://fonts.googleapis.com/css2?family=roboto&display=swap");
.Navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 8vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding: 0 10px;
  border-radius: 10px;
  margin: 5% 3px;
  margin-right: 15px;
  font-size: 1.6rem;
  font-family: "roboto", sans-serif;
  color: #F8F5F1;
  background: linear-gradient(90deg, rgba(131,58,180,0.7) 0%, rgba(253,29,29,0.6) 50%, rgba(252,176,69,0.7) 100%);
}


.logo p {
  font-weight: 400;
  margin-top: 20px;
}

.slider {
  display: inline-block;
  margin: 0 10px;
  width: 350px;
}

.rc-slider-track {
  background: transparent;
}

.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle,
rc-slider-handle:active,
rc-slider-handle:hover,
rc-slider-handle:focus {
  background-color: green;
  border: 2px solid green;
  outline: none;
  box-shadow: none;
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;
}

.select-container {
  margin-left: auto;
  margin-right: 1rem;
}
